<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017. Cristian Do Carmo Rodriguez
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="color.dev.com.red">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentoPrincipal" android:configChanges="orientation"/>
        <activity android:name=".Archivos" android:configChanges="orientation"/>
        <activity android:name=".Materias" android:configChanges="orientation"/>
        <activity android:name=".Politica" android:configChanges="orientation"/>
        <activity android:name=".Informacion" android:configChanges="orientation"/>
        <activity android:name=".Licencia" android:configChanges="orientation"/>
        <activity android:name=".Web" android:configChanges="orientation"/>
        <activity android:name=".NuevaTareaHorario" android:configChanges="orientation"/>
        <receiver android:name=".BroadcastAlarma"></receiver>

        <receiver
            android:name=".BroadcastBootCompleted"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".ComunicacionB" />
        <receiver android:name=".Comunicacion" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="u.vigo.faicheck" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver
            android:name="color.dev.com.red.XYZConecta"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="u.vigo.faicheck.faicheck" />
            </intent-filter>
        </receiver>

        <service
            android:name="color.dev.com.red.XYZConectaB"
            />

        <activity android:icon="@drawable/logo" android:configChanges="orientation|screenSize" android:label="Importar" android:name="color.dev.com.red.Importar">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>
            <intent-filter>

                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>
            <intent-filter>

                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.faicheck"
                    android:host="*"/>
            </intent-filter>

        </activity>

    </application>

</manifest>